.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.input-label {
  text-align: center;
  font-size: larger;
  font-weight: lighter;
  color: blue;
  margin: 5px 0;
}
.input-value {
  width: 100%;
  padding: 5px 0;
  font-size: 17px;
}
.suggestion {
  font-size: smaller;
  cursor: pointer;
}
.suggestion-active {
  background-color: #008cba;
  color: #fff;
  font-size: smaller;
  cursor: pointer;
}
.description-value {
  width: 100%;
  padding: 10px 0;
  font-size: larger;
  height: auto;
}
.error-message {
  font-size: smaller;
  color: red;
}
.submit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 25px;
  background-color: #4caf50;
  font-size: larger;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.submit-btn:hover {
  opacity: 0.9;
}
.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
