.counter {
  padding: 5px;
  text-align: center;
}
.input-label {
  display: block;
}
.prievew-container {
  width: 350px;
  margin: 10px auto;
}
.empty-image {
  display: none;
}
.preview-img {
  width: 100%;
  height: 300px;
}
.hidden-btn {
  display: none;
}
.add-btn {
  width: 30%;
  padding: 10px 0;
  float: right;
  background-color: #008cba;
  color: rgb(221, 214, 214);
  border: none;
}
.delete-btn {
  width: 30%;
  padding: 10px 0;
  float: left;
  background-color: #d11a2a;
  color: #fff;
  border: none;
}
.add-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}
